<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>Shopping List | <small>powered by Spin &amp; HTMX</small></h1>
        <p class="slug">This is a simple shopping list for demonstrating the combination of <a href="https://htmx.org/"
                target="_blank">HTMX</a> and <a href="https://developer.fermyon.com" target="_blank">Fermyon Spin</a>.</p>
    </header>
    <main hx-get="/api/items" hx-trigger="load,newItem from:body" hx-target="#all-items" hx-swap="innerHtml">
        <div id="all-items" hx-confirm="Do you really want to delete this item?" hx-target="closest .item"
            hx-swap="outerHTML swap:1s">
        </div>
    </main>
    <aside>
        <h2>Add a new item to the list</h2>
        <form hx-post="/api/items" hx-ext="json-enc" hx-swap="none" hx-on::after-request="this.reset()">
            <input type="text" name="value" placeholder="Add Item" maxlength="36">
            <button type="submit">Add</button>
        </form>
    </aside>
    <footer>
        <span>Made with 💜 by</span><a href="https://www.fermyon.com" target="_blank">Fermyon</a>
        <span>Find the code on</span><a href="https://github.com/ThorstenHans/spin-htmx" target="_blank">GitHub</a>
    </footer>
    <script src="/htmx.min.js"></script>
    <script src="json-enc.js"></script>
</body>
</html>
